* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.App {
  /* display: flex; */
  min-width: 100vw;
  height: 100vh;
  background-color: #282c34;
}
/* .App-header {
  background-color: #282c34;
  font-size: calc(2vmin);
  width: 100vw ;
  display: flex;
}

.App-content{
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

content{
  background-color: #181818;
} */
/* 
.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header,footer {
  height: 30px;
  background-color: black;
}

body{
  height: 100%;
  margin-bottom: 30px;
} */