.App-header {
  background-color: #282c34;
  font-size: calc(2vmin);
  width: 100vw ;
  display: flex;
}

.App-content{
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;

  /* margin : 0 auto ; */
  /* top : 52vh; */
}

content{
  background-color: #181818;
}
/* 
.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header,footer {
  height: 30px;
  background-color: black;
}

body{
  height: 100%;
  margin-bottom: 30px;
} */