.social {
    position: fixed;
    margin-top: 20px;
    display: flex;
    bottom: 15%;
  }
  .social i {
    padding-right: center;
    font-size: 25px;
    color: #9a9b9c;
  }
  .social i:hover {
    color: #333;
  }